header{
  margin-bottom: -9px;
}

header img {
  height: 100%;
  width: 100vw;
  background-color: #E5E5E5;
}

main {
  background-color: #E5E5E5;
}

.logo-content {
  display: flex;
  height: 80px;
  padding: 8px;
  max-width: 450px;
  align-self: center;
}

span {
  font-weight: bold;
}

.search-pokemon p{
 font-size: 20px;
 margin: 0 8px;

}

.search-pokemon img {
  width: 80vw;
  max-width: 450px;
  align-self: center;
}

.search-pokemon div {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 5px 0;
}

label input {
  height: 25px;
  padding: 5px;
  width: 200px;
  color: #D3D3D3;

}

label button {
  height: 25px;
  margin: 5px;
  width: 60px;
  background-color: #D93F3F;
  color: white;
  border: none;
}

 div select {
  height: 25px;
  width: 90px;
  padding-left: 8px;
  color: #0F0F2D;
}

.pagination {
  margin: 5px;
  display: flex;
}

.pagination button{
  background-color: none;
  border: none;
  margin: 0 5px;
}

.pagination button:hover {
  background-color: #DD1A1A;
  color: white;
  padding: 3px;
  cursor: pointer;
}

.pagination .button-pagination {
  background-color: #DD1A1A;
  color: #FBFBFB;
  height: 60pxpx;
  width: 100px;
  margin: 15px 0;
}

@media (min-width:700px){
  .list-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}